<!-- Footnote Section -->
<div class="text-center">
  <div class="container">
    <span class="d-block d-lg-inline-block mb-lg-0">
      <p class="font-size-1 mb-0">* Based on the avergae value increase rate in the last ten years. Be aware that the value increase is not guranteed and the artwork value can also decline.</p>
      <p class="font-size-1">** Before a campaign goes live, a renting contract with a museum for at least two years is signed. The rent is distributed among the shareholders.</p>
  </div>
</div>
<!-- End Footnote Section -->