<!-- How It Works Section -->
<div class="gradient-half-primary-v3">
  <div class="container space-2" id="how-to">
    <h1 class="display-5 font-size-md-down-5 my-5 text-center">How It Works</h1>

    <div class="row justify-content-lg-between align-items-center pb-1 pt-4 mb-5">
      <div class="col-md-6 col-lg-6 order-md-2 mb-7 mb-md-0">
        <div class="pl-md-4">
          <!-- Info -->
          <div class="media mb-3">
            <span class="btn btn-sm btn-icon btn-soft-primary rounded-circle mr-3">
              <span class="btn-icon__inner">A.</span>
            </span>
            <div class="media-body">
              <h3 class="h5 text-b">Own artwork shares</h3>
              <p>Only if the campaign is fully funded, the deal with the seller is closed and virtual shares are distributed among the investors.</p>
            </div>
          </div>
          <!-- End Info -->

          <!-- Info -->
          <div class="media mb-3">
            <span class="btn btn-sm btn-icon btn-soft-primary rounded-circle mr-3">
              <span class="btn-icon__inner">B.</span>
            </span>
            <div class="media-body">
              <h3 class="h5 text-b">Profit from yearly payouts</h3>
              <p>Part of every campaign is a renting greement with a museum for a pre-defined time. The earnings are payed pro rata every year.</p>
            </div>
          </div>
          <!-- End Info -->

          <!-- Info -->
          <div class="media mb-3">
            <span class="btn btn-sm btn-icon btn-soft-primary rounded-circle mr-3">
              <span class="btn-icon__inner">C.</span>
            </span>
            <div class="media-body">
              <h3 class="h5 text-b">Profit from value increase</h3>
              <p>Avant/Garde aims to negotiate a sales offer on behalf of the virtual shareholders after 4-7 years. The majority has to agree to the deal.</p>
            </div>
          </div>
          <!-- End Info -->

        </div>
      </div>

      <div class="col-md-6">
        <!-- PNG Mockup -->
        <img src="<%= image_path("png/how-to.png") %>" style="width: 90%" alt="">
        <!-- End PNG Mockup -->
      </div>
    </div>
  </div>
</div>
<!-- End How It Works Section -->